[2017-04-24 15:02] JohnDBodkin opened #1 "FXGraph does not support includes attributes"
https://www.eclipse.org/forums/index.php/t/1085749/

Using the latest e(fx)clipse) I created a plugin that has an FXGraph that creates a button.
component MyButton  {
	Button id myButton {
		maxWidth : const Double#POSITIVE_INFINITY,
		mnemonicParsing : false
	}
}

In a different plugin I create another FXGraph that includes the button into an HBox but the button will not grow horizontally to fill

[2017-05-18 10:16] tomsontom opened #2 "Nullcheck Errors in Oxygen"

[2017-05-18 10:23] tomsontom opened #3 "JavaModelUtil#applyEdit is gone in Oxygen"

[2017-05-18 10:23] #3 closed, assigned to nobody

[2017-05-18 10:28] tomsontom opened #4 "Compiler error with Xtext 2.12"
There's a new method in the base-class so our invokation is now ambigous

[2017-05-18 10:28] #4 closed, assigned to nobody

[2017-05-18 10:32] tomsontom opened #5 "Add back ldef DSL"

[2017-05-18 11:32] tomsontom opened #6 "Fix build for Oxygen"

[2017-05-18 11:32] #6 closed, assigned to nobody

[2017-05-18 11:49] tomsontom opened #7 "Remove unmaintained mobile stuff"

[2017-05-18 11:50] tomsontom opened #8 "Remove Java8 version check bundle"

[2017-05-18 11:53] #7 closed, assigned to nobody

[2017-05-18 12:16] #8 closed, assigned to nobody

[2017-05-18 12:18] tomsontom opened #9 "Regenerate Xtext-Projects"

[2017-05-18 12:28] #9 closed, assigned to nobody

[2017-05-18 12:29] #2 closed, assigned to nobody

[2017-05-18 12:29] #5 closed, assigned to nobody

[2017-05-22 06:20] tomsontom opened #10 "Update generated tycho scripts"
- use latest tycho release
- remove efxclipse-addons

[2017-05-22 06:21] tomsontom opened #11 "Invalid JavaFXProperty getter/setter generated"
[code]
Generates an invalid getter & setter

[2017-05-22 06:22] tomsontom opened #12 "Bug 473682 - Properties files generated by l10n tooling are not ISO-8859-1 encoded with a non-default workspace encoding"
Clone from - https://bugs.eclipse.org/bugs/show_bug.cgi?id=473682

Hello,

I noticed the l10n tooling generates *.properties files using the encoding specified in Preferences > General > Workspace > Text file encoding.

For instance, when setting this value to UTF-8, all generated files will be in UTF-8 : not only source code, but also the properties files.

This behaviour persist even when specif

[2017-05-22 07:13] #10 closed, assigned to nobody

[2017-05-22 07:29] #11 closed, assigned to nobody

[2017-05-22 13:05] OlivierAlves opened #13 "Synchronizing Controllers and FXML file automatically"
Good morning,

Here is a new the issue related to this topic on eclipse community forum: [Check topic here](https://www.eclipse.org/forums/index.php/t/1086230/)

While developing a small Eclipse plugin for our developers, we implemented a feature that allows to generate missing FXML fields and handlers in the associated controller.

The option is called at the moment "Generate missing FXML Fields

[2017-05-22 20:45] joepol opened #14 "Generate JavaFx getters and setters"
under **Source** menu, using right click - this option appears, but not in the top bar **Source** menu

[2017-06-13 04:48] tomsontom opened #15 "Pre-packaged efxclipse SDK 4.6.0 locks up when creating second JavaFX Project (Building workspace 19%)"
See https://bugs.eclipse.org/bugs/show_bug.cgi?id=518159

[2017-06-13 05:13] matteg commented on #15
Yes I can reproduce the problem by starting a new JavaFx project whose name is the same as a JavaFX control such as TableView, ListView, etc.

As soon as I used a different project name (TabView) the project created successfully.

[2017-06-13 05:52] tomsontom commented on #13
@OlivierAlves could you provide a pull request for this feature? Just in case can we somehow Combine this with the "Generate Controller" command?

[2017-08-15 17:53] wodinga commented on #15
Hey guys, is there a workaround for this yet? Or should I just manually create a JavaFX project?

[2017-08-16 06:40] tomsontom commented on #15
Can one of you create a thread dump when this happens?

[2017-08-16 10:45] wodinga commented on #15
How? I’m on MacOS

[2017-08-26 16:07] tomsontom opened #16 "Add launcher for pure e4-maven projects"

[2017-08-26 18:02] #16 closed, assigned to tomsontom

[2017-08-26 18:05] tomsontom opened #18 "Upgrade version to 3.1.0"

[2017-08-26 20:46] tomsontom opened #19 "Deadlock in CSS-System"
Try was trying learning JavaFX.
I used the following tutorial and Eclipse stopped.
http://code.makery.ch/library/javafx-8-tutorial/pt/part1/
Before start my exercises I download e(fx)clipse through below link:
http://download.eclipse.org/efxclipse/updates-released/3.0.0/site/
And the Scene Builder JavaFX 2.0

I was trying creating a JavaFX project and EClipse stopped.
I oppened Java VisualVM for O

[2017-08-26 20:51] #19 closed, assigned to tomsontom

[2017-08-26 21:19] #18 closed, assigned to nobody

[2017-08-28 18:00] tomsontom opened #20 "Show access restriction for none exported packages"

[2017-08-28 18:18] #20 closed, assigned to nobody

[2017-08-29 11:15] redrezo opened #21 "CSS Editor: Support other project types"

[2017-08-30 00:08] tomsontom opened #22 "3.0.1 release"

[2017-09-01 23:28] tomsontom opened #23 "m2e should support jar in jar"

[2017-09-02 08:22] tomsontom opened #24 "MVNOSGiLauncher has to support "Eclipse-BundleShape:dir""

[2017-09-02 09:22] #24 closed, assigned to nobody

[2017-09-05 22:38] tomsontom opened #25 "Read configuration from "maven-osgi-exec-plugin""

[2017-09-05 22:47] #25 closed, assigned to tomsontom

[2017-09-06 21:50] tomsontom opened #26 "Launcher needs to skip none-osgi projects"

[2017-09-06 21:50] #26 closed, assigned to tomsontom

[2017-10-02 14:56] piegamesde opened #27 "Oxygen completely ignores the plugin"
I recently installed Eclipse Oxygen and wanted to use efxclipse as in previous versions. It shows that it is installed on the marketplace as well as on the "installed software" page (no components missing), but it behaves like it wasn't. I'm missing all the features I normally use:

 - JavaFX "new..." templates
 - JavaFX preferences page
 - JavaFX library (Eclipse uses the fxrt.jar instead, causin

[2017-11-05 23:17] MarceloRuiz opened #28 "E(fx)clipse tooling install breaks ide theme compliance"
Starting with the following system:

Eclipse for RCP and RAP Developers
Version: Oxygen.1a Release (4.7.1a)
Build id: 20171005-1200
OS: Linux, v.4.13.0-16-generic, x86_64 / gtk 3.22.24

After installing E(fx)clipse (latest version or nightly), the theme compliance gets broken. When using a dark theme, the result makes the IDE look strange in many sections.
Uninstalling E(fx)clipse leaves the IDE i

[2017-11-13 21:18] tomsontom opened #29 "Error on Autocomplete"
Starting with Oxygen.1a the AutoComplete wizards pops up error messages saying the ...jdt.ui.id2 violates the API contract

[2017-11-13 21:20] #29 closed, assigned to tomsontom

[2017-11-13 21:23] tomsontom commented on #28
As we don't contribute ANYTHING to themes I doubt we are the reason for the breakage

[2017-11-13 21:23] #28 closed, assigned to nobody

[2017-11-14 18:33] tomsontom commented on #15
I assume this is fixed with #19

[2017-11-14 18:33] #15 closed, assigned to tomsontom

[2017-11-15 19:28] tomsontom opened #30 "FXMLPreview always creates controller instance"

[2017-11-15 19:29] tomsontom commented on #30
Looks like this only happens when running Eclipse on Java9

[2017-11-15 19:31] #30 closed, assigned to tomsontom

[2018-01-15 19:18] hallvard opened #31 "Completion of type tags in FXML editor for file in Java 9 project fails"
When using the FXML editor on an fxml file in a Java 9 project, it doesn't propose types, e.g. when entering <Text nothing is proposed. Properties of the parent tag are proposed, so it seems to be about type info, not completion in general. My e(fx)clipse version is 3.1.0, Eclipse is 4.7.2, Java is 9.0.1 on Mac

BTW, completion of types works in the Java editor.

I get exceptions like this in the

[2018-03-23 14:37] tomsontom opened #32 "Build fails on new jenkins infrastructure"

[2018-03-23 15:20] #32 closed, assigned to tomsontom

[2018-03-23 15:39] tomsontom opened #33 "Update versions to 3.2.0"

[2018-03-23 22:09] #33 closed, assigned to nobody

[2018-04-23 19:29] tomsontom opened #34 "Remove of fix Media-Sample"

[2018-05-26 23:07] tomsontom opened #35 "Maven launch fails if more than one exploded module"

[2018-05-26 23:09] #35 closed, assigned to nobody

[2018-06-20 12:39] tomsontom opened #36 "Generating getter/setters fails"
java.lang.IllegalArgumentException
	at org.eclipse.jdt.core.dom.ASTParser.<init>(ASTParser.java:234)
	at org.eclipse.jdt.core.dom.ASTParser.newParser(ASTParser.java:131)
	at org.eclipse.jdt.internal.corext.refactoring.util.RefactoringASTParser.<init>(RefactoringASTParser.java:40)
	at org.eclipse.fx.ide.jdt.ui.internal.handler.AddFXBeanGetterSetterHandler$GetterSetterDialog.okPressed(AddFXBeanGette

[2018-06-20 13:23] #36 closed, assigned to nobody

[2018-06-30 07:35] progamerz opened #37 "Can't generate JavaFX getter and setter(Eclipse Photon)"
https://i.imgur.com/mnbSIWE.png

If there is any info u need more, i will be happy to send.

EDIT: It works on eclipse oxygen(old one) but doesn't work with eclipse photon

Thanks

[2018-06-30 08:41] tomsontom commented on #37
Fixed with #36 so if you use the nightly build you are fine once more

[2018-06-30 08:41] #37 closed, assigned to nobody

[2018-08-01 10:26] leeroles opened #38 "Generated exe file is not rendering fxml in loaded in "Part" class"
Im trying to create a simple efxclipse rcp (e4) application using efxclipse 3.0.0 target runtime

The project structure are as follows
application.client.app
application.client.app.feature
application.client.app.product
application.client.app.releng
application.client.app.service - contains all REST web service calls
application.client.app.ui - contains all FXML files, Controller, Handler and Part

[2018-08-01 10:32] tomsontom commented on #38
This is a general java thing and not a bug in efxclipse! Relative URLs with ".." are not supported inside JAR-Filesystem. As long as you don't export you are still on the OS-Filesystem so it works there.  You need getClass().getClassloader().getResource() to make it work in the IDE and when exported

[2018-08-01 10:32] #38 closed, assigned to nobody

[2018-08-08 18:33] tomsontom opened #39 "Maven launch fails on windows"
The paths generated need to look different on Windows

[2018-08-08 18:48] tomsontom opened #40 "Build failure"
[code]

[2018-08-08 18:48] #40 closed, assigned to tomsontom

[2018-08-30 18:18] tomsontom opened #41 "Trim filePath passed into RelativeFileLocator"

[2018-08-30 18:19] #41 closed, assigned to tomsontom

[2018-09-27 22:33] tomsontom opened #42 "Eclipse does not start if the version 3.3.0 is installed when launching on JDK-11"

[2018-09-27 22:35] #39 closed, assigned to tomsontom

[2018-09-27 22:37] nlisker commented on #42
Continuing https://bugs.eclipse.org/bugs/show_bug.cgi?id=539593

As shown in the attached log file in the above, the JDK is 11.

[2018-09-27 22:41] tomsontom commented on #42
there relevant fix is https://github.com/eclipse/efxclipse-rt/commit/48b44fdc1d030f5dc571a7a51af0b5e22ebf07d3

[2018-09-27 22:45] tomsontom opened #43 "javax.xml.bind is not resolved when launching on JDK-11"
See #42

[2018-09-27 22:46] tomsontom commented on #42
Just to clarify this one fixes the crash of eclipse, there's a 2nd problem shown in your sample. It looks lile javax.xml.bind can not be resolved when the Boot-JDK is Java-11. I logged #43 to track the fix for that

[2018-09-27 23:15] tomsontom commented on #43
For the fix see https://github.com/eclipse/efxclipse-rt/issues/240

[2018-09-27 23:23] tomsontom commented on #42
Changes are pushed and new build is running and should be done in ~15 minutes

[2018-09-27 23:29] nlisker commented on #42
Thanks for the super-quick fix. So the problem was not related to the new Eclipse version, only the new java version? How long after the build is done will it be available in the update site?

[2018-09-27 23:39] tomsontom commented on #42
http://download.eclipse.org/efxclipse/updates-nightly/site already contains the fixes we'll ship a patch release on Sunday 30th

[2018-09-28 07:00] tomsontom commented on #42
people who push forward openjfx and eclipse get special treatment ;-)

[2018-10-03 07:36] #43 closed, assigned to nobody

[2018-10-03 07:38] tomsontom commented on #42
Recover information:
* Start with none Java-11
* Update to the nightly build http://download.eclipse.org/efxclipse/updates-nightly/site
We'll try to ship a patch release ASAP

[2018-10-03 08:36] nlisker commented on #42
Thanks! Version 3.3.0.201809272319 already solved the problem.

[2018-10-03 08:48] tomsontom opened #44 "Release 3.4.1"

[2018-10-04 08:24] #44 closed, assigned to nobody

[2018-10-04 08:26] tomsontom commented on #42
The new release 3.4.1 is available at http://download.eclipse.org/efxclipse/updates-released/3.4.1/site

[2018-10-19 12:35] tomsontom opened #45 "Maven Launch fails on Java-11"
When launching a Maven-Configured application it fails because the adapter-hook could not be found

[2018-11-02 09:54] vogella opened #46 "Build fails due to missing WTP update site"
Trying to build this repo from releng/org.eclipse.fx.ide.releng via `mvn clean verify` fails. Looks to me like an retired WTP update site is still used.

http://download.eclipse.org/webtools/downloads/drops/R3.9.0/S-3.9.0M7-20170516000202/repository in releng/org.eclipse.fx.ide.releng/pom.xml

[2018-11-02 10:06] tomsontom commented on #46
hm hudson seems to succeed - https://hudson.eclipse.org/efxclipse/job/efxclipse_ide/

[2018-11-02 10:10] tomsontom commented on #46
I get a "Bad Gateway 502" so it looks like an infrastructure problem at Eclipse.org

[2018-11-02 10:10] vogella commented on #46
Maven caches old stuff. If you delete the .m2 Folder of the build user, you should see the same error in Hudson/Jenkins.

[2018-11-02 10:11] vogella commented on #46
IIRC the M-builds of WTP were recycled at some point in time.

[2018-11-02 10:33] #46 closed, assigned to nobody

[2018-11-02 10:33] tomsontom commented on #46
eclipse infrastructure is not stable - so I can't test the change locally but I think the change should fix this

[2018-11-02 11:25] vogella commented on #46
Local build works now for me. Thanks, Tom!

On Fri, Nov 2, 2018 at 11:33 AM Tom Schindl <notifications@github.com>
wrote:

--
Eclipse Platform project co-lead
CEO vogella GmbH

Haindaalwisch 17a, 22395 Hamburg
Amtsgericht Hamburg: HRB 127058
Geschäftsführer: Lars Vogel, Jennifer Nerlich de Vogel
USt-IdNr.: DE284122352
Fax (040) 5247 6322, Email: lars.vogel@vogella.com, Web:
http://www.vogella.com

[2018-11-06 10:59] vogella opened #47 "Target platform fails to resolve"
The instructions from https://wiki.eclipse.org/Efxclipse/Tutorials/AddingE(fx)clipse_to_eclipse fail to create a working target platform.

I assume we should use http://download.eclipse.org/efxclipse/runtime-released/3.4.0/site or http://download.eclipse.org/efxclipse/runtime-released/3.4.1/site instead of  http://download.eclipse.org/efxclipse/runtime-released/2.0.0/site as the wiki describes but

[2018-11-06 11:03] vogella commented on #47
Screenshot for http://download.eclipse.org/efxclipse/runtime-released/3.4.1/site

https://ibb.co/m6vLQA

[2018-11-06 11:14] tomsontom commented on #47
the errors you show indicate that you forgot to UNCHECK "Include Required Software"

[2018-11-06 12:19] vogella commented on #47
Thanks, @tomsontom, this did indeed resolve the target platform correctly.

[2018-11-06 12:19] #47 closed, assigned to nobody

[2018-11-06 12:40] vogella opened #48 "Support running JUnit tests (via Maven) for the e4 fx application"
I would like to start a test within the context of an e4 RCP application with JavaFx.
For this test, I created a minimal e4 RCP application using the fx wizard and added only a window.
Therefore, I select the product on the "Main" tab of the runtime configuration of the Test case.

The test itself is a very simple example:

[code]
Now if I start the test, I receive:

!SESSION 2018-11-06 13:38:11.5

[2018-11-06 12:46] tomsontom commented on #48
You need to be more specific. why would you run an **UI** JUnit-Test who requires SWT. I think you want to run a core test. So you need to run the _[No application] - Headless Mode_  on the Main-Tab

[2018-11-06 12:47] tomsontom commented on #48
and no never add the Platform-SDK if you want to develop a e4-RCP on JavaFX - stupid PDE will add stuff to your launch configuration (because it is feature-based) who will fail miserably

[2018-11-06 12:53] vogella commented on #48
The target would be to have a test which starts the Fx application so that this test can be used to ensure that the application can be started. Once this works, tests could check if the application works fine, e.g., use the ModelService to ensure all parts can be opened, etc.

Therefore a headless test is not useful.

[2018-11-06 13:05] vogella commented on #48
As this bug was already closed, shall I open a new ticket?

[2018-11-06 13:13] tomsontom commented on #48
Feel free to reopen - and modify your request to eg ask that you get something similar to upstream PDE has for SWT (not sure although we'll ever implement this because PDE is not the future for e(fx)clipse) but maybe someone wants to provide a PR

[2018-11-06 13:16] vogella commented on #48
Reopen is not enabled for me.

If PDE is not the way to start a test for e4 FX application, what is the recommended way? I looked through the repositories but was unable to find a test which starts the whole application and executes a test within the e4 fx application.

[2018-11-06 13:21] tomsontom commented on #48
Note the term "future" ;-) The future for e4 FX is pure maven - with any IDE you want - we won't break PDE support - so what is there is there but new stuff like the one you requested is something that has to be contributed from the outside

[2018-11-06 13:25] vogella commented on #48
I don't mind running e4 fx tests via Maven but this also seems not to work, at least not for me. Can you point me to a working e4 fx maven test for the whole application? I also search the repo(s) for such a test and was not able to find one.

[2018-11-06 13:42] tomsontom commented on #48
Once more "Future" is the keyword.

I did not say we are fully there yet so it - you can subscribe to https://github.com/BestSolution-at/maven-osgi-plugin/issues/15 and once it is resolved you will be able run the applications without PDE.

[2018-11-06 13:56] vogella commented on #48
Thanks, Tom for a confirmation that running e4 fx tests for the application is currently not supported. I adjusted the title of this bug report so others will be able to find this information easier.

[2018-11-06 14:01] tomsontom commented on #48
Now after having discussed this - i think you can already do that - we did this as part of our FX-Test framework - see https://github.com/BestSolution-at/FX-Test and more specifically - https://github.com/BestSolution-at/FX-Test/blob/master/e4-test/sample.osgi.app.app.junit/src/sample/osgi/app/app/junit/ApplicationTest.java

You run that as a headless-test but it will launch your e4 application

[2018-11-06 14:11] vogella commented on #48
Thanks @tomsontom I have a look and let you know if that works for me.

[2018-11-08 21:28] nadernader99 commented on #42
I was experiencing the same problem with 3.3.0, which as of today is the version provided on the 2018-09 update site (http://download.eclipse.org/releases/2018-09).

The 3.4.1 version provided at http://download.eclipse.org/efxclipse/updates-released/3.4.1/site resolve my issue.  Thanks!

[2018-11-09 07:30] tomsontom commented on #42
Yeah unfortunately it is not possible to update bits of those update-sites

[2018-11-10 15:29] #45 closed, assigned to tomsontom

[2018-11-10 15:30] tomsontom opened #49 "Add support for exec.args passing in the maven launcher"

[2018-11-10 15:36] #49 closed, assigned to tomsontom

[2018-11-19 12:28] vogella opened #50 "Generated project does not compile via Maven on Java 11"
I use the "e4 application projects" wizard to generate an e4 Fx RCP project with "Tycho Build Stubs".

As I use Java 11 I need to update the pom file to use Tycho 1.3.0-SNAPSHOT but, as expected, the build fails due to the missing JavaFX libraries.
[code]

Could the example updated to also work on Java 11?

Where can we find the documentation how to build e4 RCP FX applications on Java 11? I have

[2018-11-19 12:34] tomsontom commented on #50
Right Java-11 does not have OpenJFX with it so.

You need to add that manually to the build and later at runtime. You should have got compile errors as well in your workspace because no JavaFX classes are found - we are currently investigating if it is possible to ship JavaFX-Binaries from Eclipse.org-Servers.

[2018-11-19 12:36] tomsontom commented on #50
A detail makeing it more complex is that one can't simply repackage the JavaFX-Binaries because they need to be run as Java-Modules.

[2018-11-19 12:46] tomsontom commented on #50
BTW does one really need 1.3.0-SNAPSHOT? I thought 1.2.0 is enough not?

[2018-11-19 12:53] vogella commented on #50
AFAIK 1.3.0 is required but I'm not 100% sure. I know platform build is moving to Tycho 1.3.0 for the Java 11 build verification.

Is this describes somewhere or an example available?

[2018-11-19 14:22] tomsontom commented on #50
ok yes one needs 1.3.0 but where are those snapshots

[2018-11-19 14:49] tomsontom commented on #50
See https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11 once the new nighly is available

[2018-11-19 14:49] #50 closed, assigned to tomsontom

[2018-11-19 16:09] vogella commented on #50
Thanks, Tom. What is the update site for latest e(fx)clipse 3.5.0 tooling? So far, I'm using the version included in 2018-12 but that contains "only" 3.4.1. And 3.4.1 seems to have no preference page to"point it to the lib-Folder of the OpenJFX-SDK"

[2018-11-19 23:25] tomsontom commented on #50
http://download.eclipse.org/efxclipse/updates-nightly/site

[2018-11-20 08:04] vogella commented on #50
http://download.eclipse.org/efxclipse/updates-nightly/site still lists 3.4.1 as version. I assume you need to update version to 3.5.0.

[2018-11-20 08:06] tomsontom commented on #50
right would you mind fileing an issue to get that fixed

[2018-11-20 08:25] vogella opened #51 "http://download.eclipse.org/efxclipse/updates-nightly/site should offer 3.5.0 and not 3.4.1"
As noted in #50 the nightly update site offers 3.4.1. while (at this moment) it should be 3.5.0. Either the build is wrong or the version numbers are wrong.

Please fix.

[2018-11-20 08:33] vogella commented on #50
Also the currently nightly fails to install:

eclipse.buildId=4.10.0.I20181118-1800
java.version=1.8.0_191
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.eclipse.equinox.p2.engine
Error
Tue Nov 20 09:31:25 CET 2018
An error occurred while collecting items to be installed
No repository fou

[2018-11-20 08:51] tomsontom commented on #50
was this comment meant for #51 ?

[2018-11-20 08:54] vogella commented on #50
Not sure there you want get such info. #51 is about the version range, this one felt more fitting for me.

[2018-11-20 08:55] tomsontom commented on #50
so the error message is from the maven-tycho build?

[2018-11-20 08:57] vogella commented on #50
No, I get the message trying to install the latest tooling into the Eclipse IDE using http://download.eclipse.org/efxclipse/updates-nightly/site

[2018-11-20 08:58] vogella commented on #51
Currently http://download.eclipse.org/efxclipse/updates-nightly/site  fails to install.

eclipse.buildId=4.10.0.I20181118-1800
java.version=1.8.0_191
java.vendor=Oracle Corporation
BootLoader constants: OS=win32, ARCH=x86_64, WS=win32, NL=de_DE
Command-line arguments:  -os win32 -ws win32 -arch x86_64

org.eclipse.equinox.p2.artifact.repository
Error
Tue Nov 20 09:57:45 CET 2018
No repository foun

[2018-11-20 10:23] tomsontom commented on #51
so a new version has been pushed and I could successfully install it in my eclipse 2018-09 install

[2018-11-21 08:26] vogella commented on #51
Does not work for 2019-12. See below for the error: I'm using:

Eclipse SDK
Version: 2018-12 (4.10)
Build id: I20181119-2315
OS: Windows 10, v.10.0, x86_64 / win32
Java version: 11.0.1

Error:

Cannot complete the install because one or more required items could not be found.
  Software being installed: e(fx)clipse - IDE 3.5.0.201811200943 (org.eclipse.fx.ide.feature.feature.group 3.5.0.2018112009

[2018-11-21 08:34] tomsontom commented on #51
wonderful good old guava again - i really lean towards copying that as a private library to the project - we anyways don't show it in the API and it caused us troubles in other e4 applications already.

[2018-11-21 10:46] tomsontom commented on #51
works flawlessly for me:
* Downloaded latest nightly of SDK
* Added updatesite
* selected first entry in update-manager - e(fx)clipse install
* made sure "Contact all update sites during install to find required software"

e(fx)clipse does not ship Guava itself but relies on fact that it is found in the sim-rel repo

[2018-11-21 10:46] #51 closed, assigned to nobody

[2018-11-21 13:02] vogella commented on #51
Thanks @tomsontom, I can confirm that it works now. Maybe the http://download.eclipse.org/releases/2018-12 had a small hickup. Now, I can continue to test your new Java 11 installation instructions.

Thanks.

[2018-12-03 08:52] vogella opened #52 "Unable to build repository"
Running 'mvn clean verify" in ~/git/efxclipse-eclipse/releng/org.eclipse.fx.ide.releng  fails with the following exception:

[INFO] Adding repository http://download.eclipse.org/efxclipse/runtime-nightly/site
[INFO] Resolving dependencies of MavenProject: org.eclipse.fx.ide:org.eclipse.fx.ide.jdt.core:3.5.0-SNAPSHOT @ C:\Users\ex0227\git\efxclipse-eclipse\bundles\tooling\org.eclipse.fx.ide.jdt.cor

[2018-12-05 08:01] tomsontom commented on #52
https://download.eclipse.org/tools/gef/updates/legacy/releases/3.8.1_gef-maintenance_62/ is certainly available - I think this was a infrastructure problem at Eclipse.org or your ISP?

[2018-12-05 08:01] #52 closed, assigned to nobody

[2018-12-05 08:08] vogella commented on #52
I can confirm that the build works now. Thanks @tomsontom

[2018-12-05 10:30] vogella opened #56 "Using Java 11 results in The type javafx.collections.ListChangeListener$Change cannot be resolved. It is indirectly referenced from required .class files"
I'm following the instructions from https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11

After the Create a new "e4 Application projects" using the wizard "New Project" wizard step I get the following error:

Description	Resource	Path	Location	Type
The project was not built since its build path is incomplete. Cannot find the class file for javafx.collections.Ob

[2018-12-05 11:06] tomsontom commented on #56
So did you set the preference pointing to the JavaFX-SDK? Is the project use JavaSE-11?

[2018-12-05 13:09] vogella commented on #56
Yes

[2018-12-05 13:10] tomsontom commented on #56
so can you show me the PDE-Classpath-Container in your PackageExplorer?

[2018-12-06 13:36] vogella commented on #56
For unknown reasons, I cannot upload images to issues.

PDE classpath container: https://ibb.co/RhtfnRd
Preference setting for FX: https://ibb.co/Kh8320Y

[2018-12-06 13:38] tomsontom commented on #56
Ok i think i see the error can you try pointing to the lib-folder? We should add validation to the Preference-Page?

[2018-12-06 13:51] vogella commented on #56
Thanks, after pointing to the lib folder, the project compiles but if I start it via the product I still get the error that the javax/applicatoin/Applicatioin cannot be found. I assume the javafx*.jar are not available at runtime.

[2018-12-06 13:53] tomsontom commented on #56
hm - yes you added the http://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-11/repository/ all the bundle contained in it? To your launch config right?

[2018-12-06 13:54] tomsontom commented on #56
Does the launch configuration/product contain "-Dosgi.framework.extensions=org.eclipse.fx.osgi " in the VM-Arguments?

[2018-12-06 14:31] vogella commented on #56
This was not part of the instructions in https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11, I added it now but it did not make a difference.

Sorry, I don't understand this question. I did add http://downloads.efxclipse.bestsolution.at/p2-repos/openjfx-11/repository/ to my target platform if that is what you mean.

https://ibb.co/QMCDW2M

[2018-12-06 14:43] tomsontom commented on #56
and is that feature part of the launch config? What does "ss openjfx" print in the console? You can launch with "-Defxclipse.osgi.hook.debug=true" included to see the classloading being done? If you don't get any output you know somethings fishy

[2018-12-06 14:55] vogella commented on #56
openjfx.standard.feature.feature.group is part of the product but if I start I see the message:

ENTRY org.eclipse.osgi 4 0 2018-12-06 15:53:50.543
!MESSAGE Bundle org.eclipse.fx.osgi not found.

[2018-12-06 14:56] vogella commented on #56
ss openfx does return an empty result.

[2018-12-06 14:56] tomsontom commented on #56
ok that is the problem - can you add this fragment to your feature.xml please and retry?

[2018-12-06 14:57] tomsontom commented on #56
hm ss openjfx should not return an empty result, did you check that it is in the .launch-config as well?

[2018-12-06 14:59] vogella commented on #56
org.eclipse.fx.osgi is not available in the openjfx.standard.feature nor the org.eclipse.fx.runtime.e4fx.feature.

Which feature should contain this plug-in?

[2018-12-06 15:00] tomsontom commented on #56
hm min.feature? I'm uncertain we should add it to runtime.e4.feature? The reason it is not in runtime.e4.feature is that you did not needed this adapterhook for FX-8.

[2018-12-06 15:09] vogella commented on #56
Adding "Minimal JavaFX OSGi integration bundles" to the target platform looks better now but the application still does not start. I added a TrimmedWindow and set the clean workspace flag.

Output:

FXClassLoader#findClassJavaFX11 - started
FXClassLoader#findClassJavaFX11 - Loading class 'org.apache.felix.shell.Command'
FXClassLoader#getDeployedJavaModuleBundlePaths - Loading libraries from deploy

[2018-12-06 15:12] tomsontom commented on #56
Yeah this output now looks ok. Does the window have a x/y/height/width?

[2018-12-06 15:15] vogella commented on #56
Yes.

I see that I get a NPE in D3DPipeline

@Override
    public int getAdapterOrdinal(Screen screen) {
        return nGetAdapterOrdinal(screen.getNativeScreen());
    }

[2018-12-06 15:17] tomsontom commented on #56
Ah over f...! You run into https://bugs.eclipse.org/bugs/show_bug.cgi?id=540247 please add a -Djava.library.path=YOUDONTKNOWWHATYOUDOECLIPSE

[2018-12-06 15:24] vogella commented on #56
Thanks, Tom. Now the application starts.

I try to sum this up and send an PR for https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11 as IMHO some critical steps are missing.

[2018-12-06 15:28] tomsontom commented on #56
guess how long it took me to find out the last thing, when I encountered - endless debugging sessions!

[2018-12-06 15:29] vogella commented on #56
I can image that this was almost impossible to find.

[2018-12-06 15:46] tomsontom commented on #56
As it looks like you are open for adventures.

You can give https://github.com/BestSolution-at/e4-efxclipse-maven-sample a spin. I tested this on OS-X and Windows and there it worked for me. The sample is made for Java-11, so don't try with Java-8.

This is the suggested way forward for "e4 on JavaFX" although we will for the midterm support PDE as well.

[2018-12-10 19:56] vogella commented on #52
I can confirm that the build works now. Thanks @tomsontom

[2018-12-31 22:25] darmbrust commented on #42
adding the stack trace that happens when eclipse dies for search engines....

!ENTRY org.eclipse.osgi 4 0 2018-12-31 16:07:23.450
!MESSAGE Application error
!STACK 1
java.lang.NullPointerException
	at org.eclipse.e4.ui.internal.workbench.swt.E4Application.loadApplicationModel(E4Application.java:385)
	at org.eclipse.e4.ui.internal.workbench.swt.E4Application.createE4Workbench(E4Application.java:260

[2019-01-01 08:31] tomsontom commented on #42
So what is the eclipse version you used? The 2018-12 update site should contain a fixed efxclipse version

[2019-01-02 00:40] darmbrust commented on #42
I just installed 2018-12 on my linux box, and used the default update site to install it, and it broke eclipse.    When I looked at the version number, it was older than the version mentioned here where it was fixed.

Version: 2018-12 (4.10.0)
Build id: 20181214-0600

[2019-01-02 00:43] darmbrust commented on #42
the default update site is showing me 3.3.0.201809010700

[2019-01-02 08:53] tomsontom commented on #42
Grr so I messed up the contribution to the simrel repository. I think it is time to remove efxclipse from it

[2019-01-10 17:03] lauritziu opened #57 "Migrate the SWT E4 Spy Tools to JavaFX"
To support the development of a E4 application some  very useful tools exist helping to investigate the current state of a running E4 application. To get an impression of the tools see the following [video](https://www.youtube.com/watch?v=CcClGXmZPcI).

The following tools exists:

- Model Spy (investigate the current application model)
- Context Spy (provides a deep insight into the context hiera

[2019-01-10 17:06] lauritziu commented on #57
We have already migrated the following tools:

- Context Spy
- Preferences Spy
- Event Spy

We would like to contribute the three. This issue is mainly to document that these tools are already available and duplicate work can be avoided.

We would need to change the package names to at.bestsolution but then we can create an pullrequest. @tomsontom any further requirements that would it be easier t

[2019-01-10 17:20] tomsontom commented on #57
They should go to the efxclipse-rt and the package is org.eclipse.fx!

[2019-01-10 17:20] #57 closed, assigned to nobody

[2019-01-10 17:31] lauritziu commented on #57
Ok and in which structure? _bundles/runtime_ would not be a good place. There are already "_demos_" and I would suggest to place it into "_tools_". They are runtime tools. The right location to know would be good to make the pullrequest easier to accept :)

[2019-01-10 17:42] tomsontom commented on #57
Open a ticket over there and i‘ll comment there :-)

[2019-01-10 22:15] lauritziu commented on #57
Ok, issue is created at efxclipse-rt. I'm looking forward to comments ;)

[2019-01-19 05:13] Spyyder51 commented on #42
This seems to be a thing still.
Ubuntu 16.04
Java JDK 11.0.02
Eclipse 2018-12 that I installed from fresh download 3 days ago
org.eclipse.platform=4.10.0.v20181206-0815
Install e(fx)clipse tonight through Help->Install New Software
Installed ok up to "do you want to restart?"
Clicked yes, haven't been able to open Eclipse since
And now looking for a "nice" way to fix it and/or remove e(fx)clipse t

[2019-01-19 10:18] tomsontom commented on #42
If you scroll up you‘ll there‘s a description how to fix without removing and reinstalling eclipse

[2019-01-21 15:29] judison opened #58 "Can't generate JavaFX Getters and Setters (Eclipse 2018-12 / 4.10)"
It seems like deja-vu.

Eclipse 2018-12 (4.10), e(fx)clipse 3.4.1.20181003

[code]

* Generate JavaFX Getters and Setters
* Clicking ok does nothing and generates this error: (from eclipse error log)
Unhandled event loop exception
[code]

[2019-01-26 08:42] tomsontom commented on #58
yes this is because we call to internal APIs who change from time to time

[2019-01-30 09:29] jprie commented on #13
Hey! I was wondering, if that feature eventually made it into the release version. From what I read here, it doesn't look like it... is there any further development planned? I'm currently teaching JavaFX at an institute and I think  this feature could improve adoption among people new to the topic of JavaFX-MVC-based development. Please let me know! Johannes

[2019-01-31 07:48] tomsontom commented on #13
as no PR has ever been provided no this feature is not available

[2019-01-31 13:48] #58 closed, assigned to tomsontom

[2019-02-08 09:17] tomsontom opened #59 "NPE in ClassPathSearchUtil#checkResource"
[code]

[2019-02-08 09:17] #59 closed, assigned to tomsontom

[2019-02-08 09:48] #56 closed, assigned to nobody

[2019-02-19 03:59] yylonly opened #60 "Translation FXgraph to FXML in headless mode (command line with jar or maven)"
Does current version of eclipse-efx support translation FXgraph to FXML in headless mode (command line with jar or maven)?

Btw, does eclipse-efx base on Xtext?

Thanks

[2019-02-20 11:28] tomsontom commented on #60
currently not but it might be doable with some work. And yes fxgraph (as well as the CSS-Editor) are built on top of Xtext

[2019-02-21 09:41] CamilleLetavernier opened #61 "NPE in JavaFXClassPathExtender (Related to unresolved BREE?)"
I'm getting this exception:

[code]

It's quite bad, as it happens in JDT/PDE, which in turns causes pretty much any click to throw that exception (It also happens when closing Eclipse, during the save workspace step). However, my workspace is a little bit specific; so that exception probably wouldn't happen in most cases:

- I have a project that depends on E(fx)clipse (FXCanvas), that I started

[2019-02-21 10:17] #61 closed, assigned to nobody

[2019-02-22 15:06] yylonly commented on #60
Thanks for your information, I provide a shade jar file for translating FXgraph to FXML as follows:

[fxml.jar](https://www.icloud.com/iclouddrive/0wuTPGWGjYHfNdlqO6NqGvTeA#fxml)

java -jar fxml.jar path/name.fxgraph package.ControllerName

This is the temporary solution, because my intention is that this jar file does not need provide controller name, which can be automatically resolved from JVMR

[2019-03-06 18:09] SimonScholz commented on #48
@tomsontom @vogella today I've adopted the application test example from here: https://github.com/BestSolution-at/efxclipse-sample-mvvm/tree/master/sample.mvvm.ui.tests

And it works like a charm.

@tomsontom Do you have any concerns about this approach from the 2 year old example?

[2019-03-06 18:53] tomsontom commented on #48
I can remember that we had constant raise conditions - we use our own fx test lib now instead - source is now completely at Eclipse.org but API still in the flux - put positive you can shape the future API :-)

Anyways if it works for you then go for it

[2019-03-22 10:41] tomsontom opened #62 "Don't show warnings if properties start with -var in the CSS-Editor"

[2019-03-22 10:43] #62 closed, assigned to tomsontom

[2019-04-02 15:08] nlisker opened #63 "[Question] Choosing efxclipse components"
In the 4.11 release, the update site has
`e(fx)clipse - Minimal JavaFX OSGi integration bundles	3.5.0.201902220600`
with the description:

I'm not using SWT. What I need are the css tools. Are they included, and can I choose which components to install?

[2019-04-02 23:21] tomsontom commented on #63
well the minimal feature is for components like eg GEF-5 who only want the SWT integration. If you want the CSS-Support you require the minimal feature (IIRC we use it to show eg the gradient-tool in the editor).

I would in general advise to install the complete suite. The CSS-Editor eg depends on Xtext, ... - what's your concern?

[2019-04-02 23:34] nlisker commented on #63
Not much of a concern, it's just that the description makes it look like it's mainly focused on SWT and I wasn't sure if the css and fxml extensions are included.

[2019-04-02 23:40] tomsontom commented on #63
hm where do you see that feature in https://download.eclipse.org/efxclipse/updates-released/3.5.0/site/? Please note e(fx)clipse dropped from the release train!

[2019-04-02 23:40] tomsontom commented on #63
You need the feature found in "e(fx)clipse - install > e(fx)clipse IDE"!

[2019-04-02 23:43] nlisker commented on #63
In the update site https://download.eclipse.org/releases/2019-03/.

[2019-04-02 23:50] tomsontom commented on #63
From that update-site you don't get the e(fx)clipse tooling any more! The e(fx)clipse stuff you find in the sim-rel repo are only the ones for dragged in for GEF-5.

The reason we dropped from the release train is that we managed to provide bits who when installed, potentially rendered Eclipse unusable for 2 releases (=it didn't start if you run on Java-11) hence we decided to drop from the train

[2019-04-02 23:52] nlisker commented on #63
Yeah, I understand. Just didn't know about the new update site. I installed it the way you said. +1

[2019-04-02 23:52] #63 closed, assigned to nobody

[2019-04-16 10:20] martinbluehweis opened #64 "IDE Build fails"
some dependency issue, see discussion here: https://www.eclipse.org/forums/index.php/t/1098156/

[2019-04-16 12:50] #64 closed, assigned to martinbluehweis

[2019-07-08 20:33] tomsontom opened #65 "Generate JavaFX Getters and Setters fails with exception"
moved from https://bugs.eclipse.org/bugs/show_bug.cgi?id=549072

[2019-08-13 08:56] martinbluehweis opened #66 "Add arguments tab to Maven-OSGI-Launchconfigurations to support Program/VM arguments"
currently this is only possible via pom.xml.

If e.g. a system property is defined in pom **and** launch config, the launch config will _win_

[2019-08-23 14:11] #66 closed, assigned to martinbluehweis

[2019-08-23 14:13] martinbluehweis commented on #66
working directory is currently not supported

[2019-08-26 21:15] Samyssmile opened #67 "IllegalAccessError on each start"
Hello, I just created an JavaFX RCP Sample Application. I use

- Eclipse RCP 2019.06
- e(fx)clipse 3.6
- JDK 11
- javafx-sdk-11.0.2.
- Target Platform: EclipseFX - http://download.eclipse.org/efxclipse/runtime-nightly/site

A sample e4 application cant be started out of the box. So I need to add
--module-path "Z:\Development\javafx-sdk-11.0.2\lib" --add-modules javafx.controls,javafx.fxml,javafx.g

[2019-08-27 06:58] tomsontom commented on #67
The reason is that efxclipse needs to access internals to set the product name appropriately so you need to `-add-exports javafx.graphics/com.sun.javafx.application=ALL-UNNAMED, javafx.graphics/com.sun.glass.ui=ALL-UNNAMED`

[2019-08-27 19:54] Samyssmile commented on #67
Thank you Tom,

for all who have same msg, this worked for me:

`--add-exports javafx.graphics/com.sun.javafx.application=ALL-UNNAMED
--add-exports javafx.graphics/com.sun.glass.ui=ALL-UNNAMED`

I really suggest to put this hint into the how to guide.

[2019-08-27 19:54] #67 closed, assigned to nobody

[2019-08-27 20:13] tomsontom commented on #67
ups sorry yes no ',' - I hope we can generate an appropriate e4 application from the tooling in future - in the end our suggested way is to use our repackaged OpenJFX-Bundles because they contain the reexports already.

See https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11

[2019-08-30 12:00] Samyssmile opened #68 "cant build project"
Hi, I just cloned this repo and executed mvn clean verify.

This ends up in:

`[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 37:40 min
[INFO] Finished at: 2019-08-30T13:54:59+02:00
[INFO] Final Memory: 285M/724M
[INFO] ------------------------------------------------------------------------
[ERROR] Plugin org.eclipse.xtend:x

[2019-08-30 12:03] tomsontom commented on #68
this more looks like an infrastructure problem to me

[2019-09-06 11:58] martinbluehweis opened #69 "update version to 3.7"

[2019-09-06 13:17] #69 closed, assigned to martinbluehweis

[2020-01-08 22:30] purringpigeon commented on #65
Hello,  is there a timeline when this might be fixed?  I have the latest plugin   e(fx)clipse - IDE	3.5.0.201907240300	org.eclipse.fx.ide.feature.feature.group	Eclipse.org from the Eclipse Market Place and this is still an issue.

This is my Eclipse version:

Version: 2019-03 (4.11)
Build id: I20190307-0500

Thank you.

[2020-01-09 08:50] martinbluehweis commented on #65
hi, this basically works for me (same version).
could you provide an example please, then I could have a look on it.

[2020-01-09 14:20] purringpigeon commented on #65
Hello,

I have a JAVA POJO with a combination of Property fields, and several non Property fields.  I Right Click -> Source -> Generate JavaFX Getters/Setters.  The window pops up, I hit select all (it only shows the Property fields which is what used to happen).  I then hit OK.  Nothing happens.  I get the following exception.

!ENTRY org.eclipse.ui 4 0 2020-01-09 07:16:01.171
!MESSAGE Unhandled

[2020-01-09 15:13] tomsontom commented on #65
what java version do you target?

[2020-01-09 15:21] purringpigeon commented on #65
My project targets Java 1.8.191

My Eclipse configuration is below:
*** Date: Thursday, January 9, 2020 at 8:22:55 AM Mountain Standard Time

*** Platform Details:

*** System properties:
applicationXMI=org.eclipse.ui.workbench/LegacyIDE.e4xmi
awt.toolkit=sun.awt.windows.WToolkit
ds.delayed.keepInstances=true
ds.delayed.keepInstances.default=true
eclipse.application=org.eclipse.ui.ide.workbench
ec

[2020-01-13 15:06] purringpigeon commented on #65
Did this information help?

[2020-01-14 09:01] tomsontom commented on #65
not really we all run on Java-8 as well. What version does your project compiler settings point to?

[2020-01-14 13:36] purringpigeon commented on #65
1.8.191

Sent from my iPhone

[2020-01-14 15:45] purringpigeon commented on #65
Just for your reference i have uninstalled and reinstalled from Market Place the most current version with that results.

[2020-01-14 15:48] tomsontom commented on #65
The build is not yet finished but what you need to do once the build is done is to point add http://download.eclipse.org/efxclipse/updates-nightly/site/ and update your current install with the bits contained in there.

I'll ping this issue once the build is done (Eclipse CI is quite slow) and the update-site is available

[2020-01-14 15:56] purringpigeon commented on #65
Thank you

Sent from my iPhone

[2020-01-14 22:42] tomsontom commented on #65
a new snapshot build is published please give it a spin

[2020-01-15 16:21] purringpigeon commented on #65
I get the same behavior with the latest bits.  I installed the IDE option.

This is what is installed: Eclipse.org	JavaFX 2.0 Tooling	3.7.0.202001150800	org.eclipse.fx.ide.css.feature

!ENTRY org.eclipse.ui 4 0 2020-01-15 09:20:43.159
!MESSAGE Unhandled event loop exception
!STACK 0
java.lang.IllegalStateException: java.lang.NoSuchFieldException: SHARED_AST_LEVEL
	at org.eclipse.fx.ide.jdt.ui.inte

[2020-01-15 19:33] tomsontom commented on #65
Dumb mistaken on my behalf - build is triggered will take about an hour until available https://ci.eclipse.org/efxclipse/job/efxclipse_ide/1545/

[2020-01-15 21:31] purringpigeon commented on #65
Thank you - that seems to have fixed it - just did a couple of quick tests, but looks good.  thank you.

[2020-01-16 07:32] #65 closed, assigned to tomsontom

[2020-01-16 07:33] tomsontom commented on #65
thanks for testing and reporting back - highly appreciated

[2020-02-15 09:30] piegamesde opened #70 "Get latest svg2fxml"
How do I get/compile the latest `svg2fxml`? An executable jar file will work for me, but a library I can get through Maven will do as well.

[2020-02-17 11:32] tomsontom commented on #70
we are not building that since a long timeframe but the sources are still available in our rt-repo - https://github.com/eclipse-efx/efxclipse-rt/tree/3.x/modules/core/org.eclipse.fx.formats.svg

[2020-02-17 11:33] tomsontom commented on #70
i guess the right thing to do is to make that a maven plugin but this needs to be discussed in https://github.com/eclipse-efx/efxclipse-rt

[2020-02-17 11:33] #70 closed, assigned to nobody

[2020-02-18 13:38] ebousse opened #71 "Wiki page "Eclipse4 application on OpenJFX 11" not very precise?"
Hi!

I'm trying to better understand how to properly create Eclipse Plugins that rely on JavaFX with OpenJFX-11, and I ended up on this page : https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11

I tried to follow the items there but I don't understand when it says "_Open the JavaFX-Preference Page and point it to the lib-Folder of the OpenJFX-SDK"_; what prefe

[2020-02-24 12:00] fipro78 commented on #71
I tried to describe it here:
http://blog.vogella.com/2019/11/15/add-javafx-controls-to-a-swt-eclipse-4-application-eclipse-rcp-cookbook-update/

[2020-02-24 12:06] fipro78 opened #72 "Dependency issues"
I noticed that org.eclipse.fx.ide.fxgraph and org.eclipse.fx.ide.css specify some dependencies in two ways, as Require-Bundle and as Import-Package:

- org.apache.log4j
- org.apache.commons.logging

Why are those dependencies configured twice in different ways? The Import-Package definition should be enough from my point of view. Adding the Require-Bundle additionally makes it impossible to replac

[2020-03-11 13:47] ebousse commented on #71
Thank you, I'll have a look!

[2020-03-30 20:19] tomsontom opened #73 "JavaFX Modules not added when EE is set to JavaSE-13"
It looks like the Plugin-Dependencies only hold the defined JavaFX-Modules if you set the EE to JavaSE-11

[2020-03-30 22:02] #73 closed, assigned to nobody

[2020-04-15 14:15] arminsteudte opened #74 "JavaFX SDK library not added to modulepath"
When creating a JavaFx project with eclipse 2020-03, openJdk 11 and JavaFX 11 the libraries are not added to the project's classpath. Therefore the project has compiletime errors, hence of the missing classes under the "javafx" package.
The issue has already been described in this thread:
[https://www.eclipse.org/forums/index.php/t/1103256/](https://www.eclipse.org/forums/index.php/t/1103256/)

It

[2020-04-15 16:13] arminsteudte commented on #74
A short follow up. It seems to like the e(fx)clipse adds JavaFX only to the classpath and so every Java version above 8 will not find the jars/modules. Therefore you can take a look into the default run configuration under "dependencies". The Library can be found under Classpath Entries but not under Modulepath Entries. Maybe that's helpful.

[2020-04-17 09:21] tomsontom commented on #74
the launch failed in the installed version because the css-module name was not ok. This is fixed with the next nightly build

[2020-04-17 12:06] arminsteudte commented on #74
Big Thanks for your amazingly quick responser and work @tomsontom.

I tried a simple Hello World Project with fxml as I would do it in a lesson and there are still one minor and a bigger issue. I include the sample project in this post.
[HelloWorldFX11.zip](https://github.com/eclipse-efx/efxclipse-eclipse/files/4492714/HelloWorldFX11.zip)

In the module-info.java is the require clause missing für

[2020-04-17 12:24] arminsteudte commented on #74
Ok. Adding "javafx.fxml" to the opens clause in module-info.java does the trick. Maybe you could integrate it into the plugin? Should I create a new issue @tomsontom?

Thanks a lot!

[2020-04-17 13:30] tomsontom commented on #74
ok i only tried the simple none FXML project!

[2020-04-21 16:27] #74 closed, assigned to tomsontom

[2020-05-01 10:37] mininotallarines opened #75 "JDK 11 / OpenJFX 11 no CSS autocomplete and “Unknown property” warning"
My css autocomplete doesn't work and I get "unknown property" warnings. I've tried a lot already but nothing seems to work. I even reinstalled eclipse, removed all the plugins, and reinstalled all of them. I created new workspaces, new projects, ... Nothing works.

**My Environment**<br>
Eclipse 2020-03 (4.15.0)<br>
Windows 10 (1903)<br>
Java JDK 11.0.7

**What I did**<br>

 1. Created a new Maven

[2020-06-01 10:34] ghost commented on #75
I have this issue too, but in nun-modular project. I asked at stackoverflow.com - [https://stackoverflow.com/questions/62123931/eclipse-doesnt-see-javafx-properties-in-css-file-unknown-property?noredirect=1#comment109877393_62123931](url), but nobody answer me.

[2020-06-01 11:13] mininotallarines commented on #75
@4n4h3l I also posted a question on stack about this topic, but never got any answer as well. The developers of e(fx)clipse have a development repository that seems to "work". By that I mean, it does the trick for now but it needs a lot of work done, that's why this issue is still open.

Try removing your current e(fx)clipse and instead use the following repositories:
http://download.eclipse.org/e

[2020-06-01 12:00] ghost commented on #75
@laica10 Thank you fellow, you directed me on the right path. I will not do it again so as not to break anything, but it seems I did it. So, I deleted the old version of e (fx) clipse and tried to install the new one of those repositories that you gave me. But I saw a message that installing version 3.6.0 or a night build is impossible due to unsatisfied dependencies (and version automatically dow

[2020-06-01 12:23] mininotallarines commented on #75
@4n4h3l I'm very glad I could be of help. This issue was very frustrating for me too because I lost about a week of development not being able to fix this and no replies whatsoever. I looked into it and there are 2 maven (m2e) packages installed in my  Eclipse installation. Should have mentioned them, but glad you found it.

[2020-06-22 14:00] fireandfuel opened #76 "v3.6.0 update site only offers v3.5.0"
The [3.6.0 update site](https://download.eclipse.org/efxclipse/updates-released/3.6.0/site/) only offers the 3.5.0 release which is incompatible with eclipse 2020-06 (4.16.0).

It results in that efxclipse can't be installed from the Eclipse marketplace for 2020-06, even it says that it's compatible.

[2020-06-22 15:30] martinbluehweis opened #77 "Update to current Eclipse platform"
#76 says the tooling ist not installable in 2020-6.

[2020-06-22 15:31] martinbluehweis commented on #76
unfortunately the version number is not correct in 3.6.0, but the repository content is.

we already updated the platform for the runtime, looks like we also need to update it for the tooling. I opened #77 for that.

[2020-06-22 15:31] #76 closed, assigned to nobody

[2020-06-23 06:55] tomsontom commented on #76
Has anyone tried to use the nightly-site?

[2020-06-23 11:27] martinbluehweis commented on #76
works for me (2020-06)

[2020-06-24 06:13] fireandfuel commented on #76
Yes, it  works with eclipse 2020-06. I've installed version 3.7.0.202006220700.

[2020-06-29 20:39] qtran opened #78 "[Question] How to deploy the application with JDK 11+"
Hi,
I finally ported my e4 application to Java 11 but since the packager is not available in the JDK anymore, how do I get an executable?
I followed this link https://github.com/eclipse-efx/efxclipse-eclipse/wiki/Eclipse4-application-on-OpenJFX-11 and this one https://tomsondev.bestsolution.at/2020/01/28/setting-up-efxclipse-rcp-development-for-java11-and-pde/

But they are not showing how to depl

[2020-06-29 21:33] qtran commented on #78
Okay...solved it myself, ticking the “The product includes native launcher artifacts” solved it...

[2020-06-29 21:33] #78 closed, assigned to nobody

[2020-07-06 13:52] piegamesde opened #79 "Where to download the plugin?"
On the web site, I can only find downloads for the all-in-one solution. There are [installation instructions](https://www.eclipse.org/efxclipse/install.html#for-the-ambitious) for the plugin, but there are no download links.

[2020-08-25 18:51] nuravgrag commented on #76
Hmm so i tried installing it on Eclipse 2020-06 and I followed your blog Tom: https://tomsondev.bestsolution.at/2020/01/28/setting-up-efxclipse-rcp-development-for-java11-and-pde/. When i try to install the Target Platform Feature I am thrown the following dependency problem:

`Cannot complete the install because of a conflicting dependency.
  Software being installed: e(fx)clipse - Target Platfor

[2020-08-25 18:55] nuravgrag opened #80 "Dependency failure while installing Target Platform Feature 3.7.0.202008250600"
Hmm so i tried installing it on Eclipse 2020-06 and I followed this blog: https://tomsondev.bestsolution.at/2020/01/28/setting-up-efxclipse-rcp-development-for-java11-and-pde/. When i try to install the Target Platform Feature I am thrown the following dependency problem:

Software being installed: e(fx)clipse - Target Platform Feature 3.7.0.202008250600 (org.eclipse.fx.target.feature.feature.grou

[2020-08-25 20:02] tomsontom commented on #80
You never install the target Platform so i don't fully get what you are trying to tell us

[2020-08-25 20:17] nuravgrag commented on #80
When I try to install the target platform from About -> Install Software and then from the runtime site, Eclipse says that it cannot install cause of a dependency issue. Did I miss a step by chance? I'm new at this so might have done something wrong.

[2020-08-25 20:43] tomsontom commented on #80
I repeat - you never install a target platform you configure one.

[2020-08-25 23:35] nuravgrag commented on #80
Ohh i see what I was saying wrong now. So when i am attempting to configure the target platform, I get stuck when I am trying to download and install the "e(fx)clipse -Target Platform Feature" as in the image below -

<img width="1112" alt="pic1" src="https://user-images.githubusercontent.com/22535728/91237627-b8859580-e700-11ea-8422-5f9eba59b0c8.png">

Once I hit next in the above image, Eclipse

[2020-08-26 11:25] tomsontom commented on #80
I repeat you don't install the target platform. You configure that in the PDE-preferences

[2020-08-26 13:57] nuravgrag commented on #80
Alright I finally got it and it works. Thanks for taking the time to help me understand this.

[2020-08-27 01:35] #80 closed, assigned to nobody

[2020-08-27 01:37] nuravgrag commented on #80
Not an issue. Installed instead of configuring the target platform which is why the error was being thrown.

[2020-09-11 07:00] fireandfuel commented on #77
Is there any progress on this?

[2020-09-14 11:58] tomsontom commented on #77
I successfully installed the nightly into my Eclipse-2020-09 release candidate

[2020-09-14 11:58] #77 closed, assigned to nobody

[2020-09-16 06:48] tomsontom opened #82 "Switch to EPL 2.0"

[2020-09-21 14:38] fireandfuel commented on #77
Is there a plan to release nightly as v3.7.0 to the update site and **officially** support Eclipse 2020-06 and 2020-09?
I guess some users install it from the Eclipse marketplace and get a very old 3.5.0 build which is broken for 2020-06 and newer.

Seriously guys, why does @tomsontom simply set the *supported* version to Eclipse 2020-06 and 2020-09 at the [Eclipse Marketplace](https://marketplace

[2020-09-21 18:31] tomsontom commented on #77
so i how can he dare to declare it compatible this sucker ;-) - probably he's too dumb?!? - well maybe because it is compatible and can be installed - I just used:
* https://download.eclipse.org/eclipse/downloads/drops4/R-4.16-202006040540/
* added http://download.eclipse.org/efxclipse/updates-released/3.6.0/site
* (yes the install wizard gave me a warning that it needs to modify the installed ite

[2020-11-19 12:17] Dreanaught commented on #79
There is an updated site mentioned in this post https://www.eclipse.org/forums/index.php?t=msg&th=1103134&goto=1823903&#msg_1823903
Its location is  http://download.eclipse.org/efxclipse/updates-released/3.6.0/site/

[2020-11-19 12:25] martinbluehweis commented on #79
to install software in eclipse please follow the instructions [here](https://help.eclipse.org/2020-09/index.jsp?topic=%2Forg.eclipse.platform.doc.user%2Ftasks%2Ftasks-124.htm)

the latest version's update site is http://download.eclipse.org/efxclipse/updates-released/3.7.0/site/

[2020-11-19 12:25] #79 closed, assigned to nobody

[2021-05-11 08:06] mitvitaminen opened #84 "Problems with @font-face"
Hi,

I get an error when adding

`@font-face {
    font-family: "Font Awesome 6 Pro Solid";
    src: url('fonts/fa-solid-900.ttf');
}`

to an css file. It says the font-family is invalid. When choosing a single word without quotes it works. Please fix in future release

[2021-06-24 08:18] tomsontom opened #85 "Adapt src.zip lookup to match new SDK layout"
We currently expect the src.zip to be found next to the jar files (https://github.com/eclipse-efx/efxclipse-eclipse/blob/06bad832d2584dc54b7aee6950d9d3ae725fbe9c/bundles/tooling/org.eclipse.fx.ide.jdt.core/src/org/eclipse/fx/ide/jdt/core/internal/BuildPathSupport.java#L80) - there's a plan to move the location of src.zip (https://bugs.openjdk.java.net/browse/JDK-8258499)

[2021-08-19 11:08] #85 closed, assigned to nobody

[2022-04-14 08:47] nottud opened #87 "Allow non blocking completion"
When e(fx)clipse is installed Eclipse content assist non blocking content assist is disabled because it apparently needs the UI thread. The plugin should be updated to remove this requirement.

The setting is under: Java -> Editor -> Content Assist -> Advanced and it is called: Enable non-blocking completion (does not affect open editors)

The area to change is org.eclipse.fx.ide.jdt.ui.id2 (I don

[2022-08-01 12:14] zosrothko opened #88 "NPE at org.eclipse.fx.ide.pde.core.JavaFXClassPathExtender.findVMForEnv(JavaFXClassPathExtender.java:48)"
Hello

Got this NPE
[code]

Session Data
[code]

[2022-08-01 12:34] tomsontom commented on #88
what version of e(fx)clipse is this?

[2022-08-01 13:34] zosrothko commented on #88
e(fx)clipse - IDE	3.3.0.201805280700	org.eclipse.fx.ide.feature.feature.group	Eclipse.org

[2022-08-03 06:23] zosrothko opened #89 "An internal error occurred during: "Uninstalling Software". e(fx)clipse - IDE 3.3.0.201805280700"
Hi

Got this popup when uninstalling ` e(fx)clipse - IDE	3.3.0.201805280700	org.eclipse.fx.ide.feature.feature.group	Eclipse.org`

[code]

[2022-08-04 16:53] tomsontom commented on #88
I guess there's a reason that you are on such old versions?

[2022-08-05 06:56] zosrothko commented on #88
Yeap... At our company, we are stuck to Java 1.8 because of our customers. Thus the target Eclipse platform we can take should run with 1.8. We make the choice to use Photon.

[2022-09-19 20:42] macgibbon opened #91 "Code assist partially fails on latest Eclipse"
On eclipse 09-22, using javafx sdk 18.0.1 with jdk 17, I get the following an error message "Error computing completion proposals." on control space in the e(fx)clipse css editor after the colon in the code below. I believe there is supposed to be a gradient picker popup choice.

Other code completion options do work, for instance control space does show the various fx-properties.

[code]

The sta

[2022-09-20 10:19] tomsontom commented on #91
ok I see - we expec that the JDK you run Eclipse with contains OpenJFX - we should check if JavaFX is available to avoid this error

[2022-09-22 15:49] macgibbon commented on #91
Ok,  it works if I download Azul's Jdk with JFX included and change the eclipse.ini file to use that JDK.

Thank you.

[2022-09-23 18:07] macgibbon commented on #91
Ok, the choice to "Pick Color" works in the content assist, but the choice "Pick Paint" generates the stack trace below missing FXCanvas:

The FXCanvas class is present at C:\Program Files\Zulu\zulu-19\lib\javafx-swt.jar  but Eclipse isn't picking up the jar file in the classpath when launching. I tried to add  the jar as a -vmargs line in Eclipse.ini but that crashes the jvm on launching Eclipse.

[2022-09-23 18:25] tomsontom commented on #91
I need to look into this - you can't do anything to fix this as the classloader to load FXCanvas needs to have access to SWT and JavaFX at the same time which is nothing you can provide by a command line switch

[2022-09-28 07:05] #82 closed, assigned to nobody